# Variáveis

In [17]:
idade = 45
print(idade)
idade = idade + 1
print(idade)

45
46

### Regras para o nome de uma variável
- Deve-se iniciar com letra ou _
- Não pode conter caracter especial ou espaço
- Pode se usar letras, números ou _
- O python faz diferença entre maiúsculas e minúsculas
- Não pode ser uma palavra reservada do python

In [18]:
_if = 1
If = 2
print(_if)
print(If)

1
2

### Laboratório 2.4.7

In [19]:
John = 3
Mary = 5
Adam = 6
print(John, Mary, Adam, sep= ", ")
total_apples = John + Mary + Adam
print("Total de maçãs:", total_apples)

3, 5, 6
Total de maçãs: 14

### Operador de atalho

operador = operador operação valor => operador operação = valor
resumindo
idade = idade + 5 => idade += 5

In [20]:
variavel = 2
variavel = variavel + 5 
# variavel += 5
print(variavel)
# variavel = variavel * 5 + 2
variavel *= 5 + 2
print(variavel)

7
49

### Laboratório 2.4.9

In [21]:
kilometers = 12.25
miles = 7.38
one_m_2_k = 1.61
miles_to_kilometers = miles * one_m_2_k
kilometers_to_miles = kilometers / one_m_2_k

print(miles, "milhas é", round(miles_to_kilometers, 2), "quilômetros")
print(kilometers, "quilômetros é", round(kilometers_to_miles, 2), "milhas")

7.38 milhas é 11.88 quilômetros
12.25 quilômetros é 7.61 milhas

### Laboratório 2.4.10

In [22]:
x = -1 # Codifique seus dados de teste aqui.
x = float(x)
# Escreva seu código aqui.
y = 3*x**3 - 2*x**2 + 3*x - 1
print("y =", y)

y = -9.0